<md-content layout="column" layout-align="start start" flex id="sidenavContent" ng-controller="MainSidenavCtrl">
	<md-content ng-include="'main/sidenav/sidenavHeader/sidenavHeader.html'" flex="25" style="width:100%;" layout="column"></md-content>
	<md-button style="margin: 4px 0px; width: 100%; padding-top: 7px; padding-bottom: 7px;" layout="row" class="menu-button" ng-repeat="page in pages" ng-click="goto(page.routerStatus); sidenavToggle();">
		<md-icon class="menu-icons material-icons">{{page.pageIcon}}</md-icon>
		<p flex>{{page.displayName}}</p>
	</md-button>
</md-content>

