<div ng-controller="SurveysCtrl">
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="Attivi">
			<md-content layout-padding>
				<md-card style="padding: 0px;" ng-repeat="activeSurvey in activeSurveys">
					<md-card-content ng-click="modifySurvey(activeSurvey.surveyId)" layout-padding style="max-height: 40vh" ng-bind-html="activeSurvey.question|trustAsHtml">
					
					</md-card-content>
					<md-card-actions style="margin: 0px; padding: 8px; border-top-width: 1px; border-top-style: solid; border-top-color: #00000042" layout="row" child-align="end center">
						<p class="md-subhead" style="color: #0000008a;" flex md-truncate>{{activeSurvey.voters}}</p>
						<p class="md-subhead md-warn">Scade {{calculateExpireDate(activeSurvey.closeSurveyDate)}}</p>
						<md-button style="margin: auto;" ng-if="checkRoles('admin')" class="md-icon-button md-warn">
							<md-icon class="material-icons">delete_forever</md-icon>
						</md-button>
					</md-card-actions>
				</md-card>
			</md-content>
		</md-tab>
		<md-tab label="Scaduti">
			<md-content layout-padding>
				<md-card style="padding: 0px;" ng-repeat="finishedSurvey in finishedSurveys">
					<md-card-content layout-padding style="max-height: 40vh" ng-bind-html="finishedSurvey.question|trustAsHtml">
					
					</md-card-content>
					<md-card-actions layout="row" style="margin: 0px; padding: 8px; border-top-width: 1px; border-top-style: solid; border-top-color: #00000042" child-align="end center">
						<p class="md-subhead" style="color: #0000008a;" flex md-truncate>{{finishedSurvey.voters}}</p>
						<p class="md-subhead md-warn">Scaduto {{calculateExpireDate(finishedSurvey.closeSurveyDate)}}</p>
						<md-button style="margin: auto;" ng-if="checkRoles('admin')" class="md-icon-button md-warn">
							<md-icon class="material-icons">delete_forever</md-icon>
						</md-button>
					</md-card-actions>
				</md-card>
			</md-content>
		</md-tab>
		<md-tab label="I miei" ng-if="checkRoles('admin') || checkRoles('redattore')" >
			<md-subheader>Crea sondaggio
				<md-button style="margin: auto;" ng-click="goto('createSurvey')" class="md-icon-button md-warn">
					<md-icon class="material-icons">add</md-icon>
				</md-button>
			</md-subheader>
			<md-content layout-padding>
				<md-card style="padding: 0px;" ng-repeat="finishedSurvey in finishedSurveys">
					<md-card-content layout-padding style="max-height: 40vh" ng-bind-html="finishedSurvey.question|trustAsHtml">
					
					</md-card-content>
					<md-card-actions layout="row" style="margin: 0px; padding: 8px; border-top-width: 1px; border-top-style: solid; border-top-color: #00000042" child-align="end center">
						<p class="md-subhead" style="color: #0000008a;" flex md-truncate>{{finishedSurvey.voters}}</p>
						<p class="md-subhead md-warn">Scaduto {{calculateExpireDate(finishedSurvey.closeSurveyDate)}}</p>
						<md-button style="margin: auto;" class="md-icon-button md-warn">
							<md-icon class="material-icons">delete_forever</md-icon>
						</md-button>
					</md-card-actions>
				</md-card>
			</md-content>
		</md-tab>
	</md-tabs>
</div>