@charset "ISO-8859-1";
#firstEntryBackground {
	background-position: center;
	background-size: cover;
	margin: -4%;
	z-index: 1;
	position: fixed;
	width: 108%;
	height: 108%;
}
#formContainer {
	margin: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.formBorder {
	padding: 7px;
    border: #2b2b2b54;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    background: #00000059;
}